html,
body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: siyuanRegular;
    background-color: #fff;
    background-image: url("../assets/img/bg.jpg");
    background-size: 100% 400%;
    background-repeat: no-repeat;
    overflow: hidden;
}